/* @keyframes ldio-fz324hr5et9 {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-fz324hr5et9 div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-fz324hr5et9 1.075268817204301s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-fz324hr5et9 div:nth-child(1) {
  border-color: #15212b;
  animation-delay: 0s;
}
.ldio-fz324hr5et9 div:nth-child(2) {
  border-color: #204651;
  animation-delay: -0.5376344086021505s;
}
.loadingio-spinner-ripple-yn0xteit8tq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-fz324hr5et9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-fz324hr5et9 div {
  box-sizing: content-box;
} */


.spinner {
  /* Size */
  height: 40px;
  width: 40px;

  border: 4px solid #d1d5db;
  border-top-color: #3b82f6;
  border-radius: 50%;

  animation: spinner 800ms linear infinite;
}

@keyframes spinner {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
